#products .list-1 .item ul{border:1px solid #ddd; border-radius:5px; background:#fff; margin-bottom:8px; box-shadow:3px 5px 5px #e5e5e5;}
#products .list-1 .item ul .img{border:none;}
#products .list-1 .item ul .name{height:34px; overflow:hidden;}